@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-Regular.ttf) format('ttf');
}
body {
  background-color: #ffffff;
  margin: 0px;
  height: 100dvh;
  width: 100dvw; 
  overflow-x: hidden;
}

.root {
  width:fit-content;
}
.rect1
{
  height: 100vh;
  width:54dvw;
  margin-left:46dvw;
  background: #ECECEC;
  mix-blend-mode: normal;
  display: flex;
  justify-content: end;
}
.Hroot{
  padding: 30px;
}
.title{
  padding: 25px;
  text-decoration: none;
  color: #000000;
  font-family:'Kompot Sans ', sans-serif;
  font-size: 15px;
}
.frame1{
  position:fixed ;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px ; 
}
.about{
width: 58px;
height: 35px;
left:85%;
top: 34px;
font-family: 'Breul Grotesk A', sans-serif ;
font-style: bold;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
color: #000000;
mix-blend-mode: normal;
margin: 0px;
}
.contact{
width: 75px;
height: 35px;
left: 92%;
top: 25px;
font-family: 'Breul Grotesk A', sans-serif ;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
color: #000000;
margin: 0px;
}
.fname
{
position: absolute;
top: 22vh;
left: 17.3vw;
font-size: 8.01rem; 
font-family: 'Kompot Sans ', sans-serif;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 2px;

}
.lname
{
position: absolute;
font-family: 'Kompot Sans', sans-serif;
left: 17.3vw;
top: 37vh;
font-size: 8.2rem; 
/*background: #404040;*/
mix-blend-mode: normal;
/*transform: matrix(1, 0, 0, -1, 0, 0);*/
}
.name
{
position: absolute;
width: 554px;
height: 35px;
left: 665px;
top: 1086px;
font-family: 'Poppins' ;
font-style: normal;
font-weight: 700;
font-size: 40px;
/* identical to box height */
color: #404040;
mix-blend-mode: normal;
}
.aboutH
{
position: absolute;
width: 554px;
height: 35px;
left: 650px;
top: 980px;
font-family: 'Breul Grotesk A', sans-serif ;
font-style: normal;
font-weight: 700;
font-size: 130px;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 2px;
/* identical to box height */

color:#E8E8E8;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.para{
position: absolute;
width: 700px;
height: 404px;
left: 650px;
top: 1200px;
font-family: 'Breul Grotesk A', sans-serif ;
font-style: normal;
font-weight: 700;
font-size: 20px;
color: #707070;
}
.para2{
  position: absolute;
  width: 450px;
  height: 404px;
  left: 300px;
  top: 2120px;
  font-family: 'Breul Grotesk A', sans-serif ;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #707070;
  }
.conH
{
position: absolute;
width: 1100px;
height: 100px;
left: 290px;
top: 1900px;
font-family: 'Breul Grotesk A', sans-serif ;
font-style: normal;
font-weight: 700;
font-size: 130px;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 2px;
/* identical to box height */
color:#E8E8E8;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.GETIT
{   position: absolute;
    width: 554px;
    height: 35px;
    left: 600px;
    top: 2000px;
    font-family: 'Breul Grotesk A', sans-serif ;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    /* identical to box height */
    color: #454545;
    mix-blend-mode: normal; 
}

.email{
  position: absolute;
  width: 500px;
  height: 40px;
  left: 340px;
  top: 2250px;
  font-family: 'Breul Grotesk A', sans-serif ;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #707070;
  }
 .linkdin{
  top: 2290px;
  position: absolute;
  width: 500px;
  height: 40px;
  left: 340px;
  font-family: 'Breul Grotesk A', sans-serif ;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #707070;
  }
  .end
  { position: absolute;
    top: 2500px;
    width: 1550px;
    height: 40px;
    left: 0px;
    background: #ECECEC;
    mix-blend-mode: normal;
  }
  user agent stylesheet

li {
  list-style: none;
}
@media only screen and (max-width: 600px) {
  .fname
  {
  
  font-size: 11rem; 
  transform: matrix(0, -1, 1, 0, 0, 0);
  width: 650px;
  height: 175px;
  left: -210px;
  top: 45dvh;
  margin: 0%;
  position:absolute;
  }
  .lname
  { 
    width: 500px;
    height: 185px;
    left: 40px;
    top: 55dvh;
    font-size: 11rem; 
    margin: 0%;
   /* background: linear-gradient(252.17deg, #404040 37.83%, rgba(72, 72, 72, 0.473958) 63.52%, rgba(101, 101, 101, 0.479167) 84.99%, rgba(134, 134, 134, 0.277778) 96.11%, rgba(13, 13, 13, 0) 111.45%); */
    mix-blend-mode: normal;
    transform: matrix(0, -1, 1, 0, 0, 0);
   }
  .rect1
  {
    display : none;
  }
  .about{
    display : none;
  }
  .contact{
    display : none;
  }
  body {
     overflow-x: hidden;
    
  }
  .name{
    width: 165px;
    height: 38px;
    left: 122px;
    top: 130.5dvh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #4A4A4A;
    mix-blend-mode: normal;
    }
    .aboutH{
      position: absolute;
      width: 200px;
      height: 48px;
      left: 45px;
      top: 120dvh;
      font-size: 75px;
      /* background: linear-gradient(91.42deg, rgba(183, 183, 183, 0.06) 4.27%, rgba(201, 201, 201, 0) 102.47%); */
      /* transform: matrix(1, 0, 0, -1, 0, 0); */
    }
    .para{
      width: 300px;
      height: 200px;
      left: 45px;
      top: 140dvh;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      text-align: justify;
      color: #424242;
    }
    .conH{
      width: 258px;
      height: 70px;
      left: 45px;
      top: 185dvh;
      font-size: 70px;
    }
    .GETIT{
      width: 217px;
      height: 35px;
      left: 85px;
      top: 193.5dvh;
      font-size: 30px;
    }
    .para2{
      width: 285px;
      height: 44px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      color: #424242;
      left: 45px;
      top:205dvh;
      }
      .email{
        width: 200px;
        height: 20px;
        left: 110px;
        top:218dvh;
        font-size: 15px;
      }
      .linkdin{
        width: 200px;
        height: 20px;
        left: 110px;
        top:222dvh;
        font-size: 15px;
        margin-bottom:30px ;
      }
      .end{
        width: 100dvw;
        top:240dvh;
        height: 20px;
        background: #1c1c1c;
      }
}